window {
  --accent-color: var(--brown-3);
  --accent-bg-color: var(--brown-4);

  background: image(rgb(255 255 255 / 25%)),
              center url("resource:///com/feaneron/Wastepaper/assets/paper-light.png");
}

list.accent {
  --card-bg-color: color-mix(in srgb, transparent, color-mix(in srgb, white, var(--brown-2) 15%) 80%);
  --popover-bg-color: color-mix(in srgb, white, var(--brown-2) 20%);
}

row.new-task {
  padding: 0;
}

row.new-task entry {
  border-width: 0;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 50px;
  background: none;
}

row.new-task:first-child entry {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

row.new-task:last-child entry {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

row.new-task entry:dir(ltr) {
  padding-left: 18px;
}

row.new-task entry:dir(rtl) {
  padding-right: 18px;
}
